BASE_URL=[ast.checkmarx.net]
ENVIRONMENT_ID=[180609b6-37d6-4b1e-a6f0-fb67ef2e6119]
APIKEY=[eyJhbGciOiJIUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI4YjM2NWU0Ny04ZDc0LTQxYTctYTE2MC01M2YzMDEzNWE1YjYifQ.eyJpYXQiOjE2OTgzMzc4MzgsImp0aSI6ImFjODRhMzljLTU4NjktNDc4Ni1iYTFhLWExNzUxOWNjYjIwYyIsImlzcyI6Imh0dHBzOi8vaWFtLmNoZWNrbWFyeC5uZXQvYXV0aC9yZWFsbXMva2Vsc2V5LW5hIiwiYXVkIjoiaHR0cHM6Ly9pYW0uY2hlY2ttYXJ4Lm5ldC9hdXRoL3JlYWxtcy9rZWxzZXktbmEiLCJzdWIiOiI5OWMyZjJhZS1iZWIwLTQ1NGYtYjI2YS05ZWJmMzI4NTQxODMiLCJ0eXAiOiJPZmZsaW5lIiwiYXpwIjoiYXN0LWFwcCIsInNlc3Npb25fc3RhdGUiOiI2YWM4NjBkMS1kYWFhLTRjNDItODBjNy04NjRiY2M0MGVkMjUiLCJzY29wZSI6IiBvZmZsaW5lX2FjY2VzcyIsInNpZCI6IjZhYzg2MGQxLWRhYWEtNGM0Mi04MGM3LTg2NGJjYzQwZWQyNSJ9.9SsIQhP0OHPQs97jIuzHlE3bd6Zwc5M7Ig2xIsd3C_E]
PROJECT_NAME=eb-apisec.jar
CONFIG_NAME=EasyBuggy-Local-Zap-Config.yaml
OPENAPI_NAME=EasyBuggy-Swagger.yaml
HEALTH_CHECK_URL=http://localhost:8080/eb/v1/